body{
    margin: 0;
    padding: 0;
    background-image: url("../img/book_bg.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}