body{
    margin: 0px;
    padding: 0px;
    
    /* background-image: url("../BookStore/favicon.ico") */
}
nav{
   top: 0px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    /* border: 1px solid red; */
    height: 60px;
    padding: 2px;
    border-radius: 0px 0px 20px 20px;
    background-color: teal;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        /* background-image: url("../BookStore/favicon.ico") */
margin-bottom: 40px;
}
nav ul{
    text-decoration: none;
     display: flex;
     justify-content: space-evenly;
     color: white;
     font-size: large;
     
}
nav ul a{
    /* border : 1px solid black; */
    list-style: none;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 3px;
    color: white;
    background-color: rgb(28, 107, 110);
    
}
nav ul a:hover{
 color: black;
 cursor: pointer;
 background-color: aquamarine;
 box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}